.div-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 80vw; */
    border: 1px solid black;
    margin: 0 auto;

}

h1 {
    background-color: yellow;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

label {
    background-color: blue;
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

input {
    width: 30%;
    background-color: red;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;

}

.info {
    background-color: green;
    font-size: 1.5rem;
}

.result {
    background-color: purple;
    font-size: 2rem;
}